body {
    background-image: url("../images/clouds.jpg");
}
.card, button {
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: navy;
}
header {
    color: white;
    font-size: xx-large;
    text-shadow: 2px 4px 4px black;
}
.card-body{
    overflow: auto;
}
.badge {
    height: 10%;
}